* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
    background-color: #F9F9E0;
    color: #333;
}

header {
    background-color: #538392;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2em;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.balance,
.transactions {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.balance h2,
.transactions h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.balance p {
    font-size: 1.2em;
    font-weight: bold;
    color: #538392;
}

footer {
    background-color: #538392;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 0.8em;
}

.balance,
.transactions {
    transition: transform 0.3s ease;
}

.balance:hover,
.transactions:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-button a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #538392;
    transition: background-color 0.3s, transform 0.3s;
}

.back-button a:hover {
    background-color: #80B9AD;
    transform: scale(1.05);
}

.back-button a ion-icon {
    margin-right: 5px;
}